<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel comisionamiento search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label comisionamiento id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_funcionario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_funcionario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_funcionario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_funcionario" data-fieldname="id_funcionario" >


	<label class="r-search-label control-label" for="{$labelfor_id_funcionario}">
		{$label comisionamiento id_funcionario }	</label>
	<div class="r-search-option">
		{$searchtype_id_funcionario}
	</div>
	<div class="r-search-field">
		{$id_funcionario_editcontrol}	</div>
	<div class="r-search-field">
		{$id_funcionario_editcontrol1}
	</div>
	
</div>

{END id_funcionario_fieldblock}
											
{BEGIN per_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_per_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="per_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="per_nombre" data-fieldname="per_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_per_nombre}">
		{$label comisionamiento per_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_per_nombre}
	</div>
	<div class="r-search-field">
		{$per_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$per_nombre_editcontrol1}
	</div>
	
</div>

{END per_nombre_fieldblock}
											
{BEGIN per_apellido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_per_apellido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="per_apellido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="per_apellido" data-fieldname="per_apellido" >


	<label class="r-search-label control-label" for="{$labelfor_per_apellido}">
		{$label comisionamiento per_apellido }	</label>
	<div class="r-search-option">
		{$searchtype_per_apellido}
	</div>
	<div class="r-search-field">
		{$per_apellido_editcontrol}	</div>
	<div class="r-search-field">
		{$per_apellido_editcontrol1}
	</div>
	
</div>

{END per_apellido_fieldblock}
											
{BEGIN per_ci_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_per_ci}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="per_ci{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="per_ci" data-fieldname="per_ci" >


	<label class="r-search-label control-label" for="{$labelfor_per_ci}">
		{$label comisionamiento per_ci }	</label>
	<div class="r-search-option">
		{$searchtype_per_ci}
	</div>
	<div class="r-search-field">
		{$per_ci_editcontrol}	</div>
	<div class="r-search-field">
		{$per_ci_editcontrol1}
	</div>
	
</div>

{END per_ci_fieldblock}
											
{BEGIN tipo_vinculacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_vinculacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_vinculacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="tipo_vinculacion" data-fieldname="tipo_vinculacion" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_vinculacion}">
		{$label comisionamiento tipo_vinculacion }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_vinculacion}
	</div>
	<div class="r-search-field">
		{$tipo_vinculacion_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_vinculacion_editcontrol1}
	</div>
	
</div>

{END tipo_vinculacion_fieldblock}
											
{BEGIN nombre_completo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_completo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_completo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="nombre_completo" data-fieldname="nombre_completo" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_completo}">
		{$label comisionamiento nombre_completo }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_completo}
	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol1}
	</div>
	
</div>

{END nombre_completo_fieldblock}
											
{BEGIN dependencia_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dependencia_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dependencia_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="dependencia_id" data-fieldname="dependencia_id" >


	<label class="r-search-label control-label" for="{$labelfor_dependencia_id}">
		{$label comisionamiento dependencia_id }	</label>
	<div class="r-search-option">
		{$searchtype_dependencia_id}
	</div>
	<div class="r-search-field">
		{$dependencia_id_editcontrol}	</div>
	<div class="r-search-field">
		{$dependencia_id_editcontrol1}
	</div>
	
</div>

{END dependencia_id_fieldblock}
											
{BEGIN fecha_desde_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_desde}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_desde{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="fecha_desde" data-fieldname="fecha_desde" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_desde}">
		{$label comisionamiento fecha_desde }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_desde}
	</div>
	<div class="r-search-field">
		{$fecha_desde_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_desde_editcontrol1}
	</div>
	
</div>

{END fecha_desde_fieldblock}
											
{BEGIN hora_desde_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hora_desde}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hora_desde{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="hora_desde" data-fieldname="hora_desde" >


	<label class="r-search-label control-label" for="{$labelfor_hora_desde}">
		{$label comisionamiento hora_desde }	</label>
	<div class="r-search-option">
		{$searchtype_hora_desde}
	</div>
	<div class="r-search-field">
		{$hora_desde_editcontrol}	</div>
	<div class="r-search-field">
		{$hora_desde_editcontrol1}
	</div>
	
</div>

{END hora_desde_fieldblock}
											
{BEGIN fecha_hasta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_hasta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_hasta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="fecha_hasta" data-fieldname="fecha_hasta" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_hasta}">
		{$label comisionamiento fecha_hasta }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_hasta}
	</div>
	<div class="r-search-field">
		{$fecha_hasta_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_hasta_editcontrol1}
	</div>
	
</div>

{END fecha_hasta_fieldblock}
											
{BEGIN hora_hasta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hora_hasta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hora_hasta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="hora_hasta" data-fieldname="hora_hasta" >


	<label class="r-search-label control-label" for="{$labelfor_hora_hasta}">
		{$label comisionamiento hora_hasta }	</label>
	<div class="r-search-option">
		{$searchtype_hora_hasta}
	</div>
	<div class="r-search-field">
		{$hora_hasta_editcontrol}	</div>
	<div class="r-search-field">
		{$hora_hasta_editcontrol1}
	</div>
	
</div>

{END hora_hasta_fieldblock}
											
{BEGIN motivo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_motivo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="motivo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="motivo_id" data-fieldname="motivo_id" >


	<label class="r-search-label control-label" for="{$labelfor_motivo_id}">
		{$label comisionamiento motivo_id }	</label>
	<div class="r-search-option">
		{$searchtype_motivo_id}
	</div>
	<div class="r-search-field">
		{$motivo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$motivo_id_editcontrol1}
	</div>
	
</div>

{END motivo_id_fieldblock}
											
{BEGIN comision_servicios_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_comision_servicios}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="comision_servicios{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="comision_servicios" data-fieldname="comision_servicios" >


	<label class="r-search-label control-label" for="{$labelfor_comision_servicios}">
		{$label comisionamiento comision_servicios }	</label>
	<div class="r-search-option">
		{$searchtype_comision_servicios}
	</div>
	<div class="r-search-field">
		{$comision_servicios_editcontrol}	</div>
	<div class="r-search-field">
		{$comision_servicios_editcontrol1}
	</div>
	
</div>

{END comision_servicios_fieldblock}
											
{BEGIN comision_servicios_descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_comision_servicios_descripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="comision_servicios_descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="comision_servicios_descripcion" data-fieldname="comision_servicios_descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_comision_servicios_descripcion}">
		{$label comisionamiento comision_servicios_descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_comision_servicios_descripcion}
	</div>
	<div class="r-search-field">
		{$comision_servicios_descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$comision_servicios_descripcion_editcontrol1}
	</div>
	
</div>

{END comision_servicios_descripcion_fieldblock}
											
{BEGIN observacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="observacion" data-fieldname="observacion" >


	<label class="r-search-label control-label" for="{$labelfor_observacion}">
		{$label comisionamiento observacion }	</label>
	<div class="r-search-option">
		{$searchtype_observacion}
	</div>
	<div class="r-search-field">
		{$observacion_editcontrol}	</div>
	<div class="r-search-field">
		{$observacion_editcontrol1}
	</div>
	
</div>

{END observacion_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label comisionamiento estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
											
{BEGIN archivo_adjunto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_archivo_adjunto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="archivo_adjunto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="archivo_adjunto" data-fieldname="archivo_adjunto" >


	<label class="r-search-label control-label" for="{$labelfor_archivo_adjunto}">
		{$label comisionamiento archivo_adjunto }	</label>
	<div class="r-search-option">
		{$searchtype_archivo_adjunto}
	</div>
	<div class="r-search-field">
		{$archivo_adjunto_editcontrol}	</div>
	<div class="r-search-field">
		{$archivo_adjunto_editcontrol1}
	</div>
	
</div>

{END archivo_adjunto_fieldblock}
											
{BEGIN email_jefe_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_jefe}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_jefe{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="email_jefe" data-fieldname="email_jefe" >


	<label class="r-search-label control-label" for="{$labelfor_email_jefe}">
		{$label comisionamiento email_jefe }	</label>
	<div class="r-search-option">
		{$searchtype_email_jefe}
	</div>
	<div class="r-search-field">
		{$email_jefe_editcontrol}	</div>
	<div class="r-search-field">
		{$email_jefe_editcontrol1}
	</div>
	
</div>

{END email_jefe_fieldblock}
											
{BEGIN descripcion_dependencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_dependencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_dependencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="descripcion_dependencia" data-fieldname="descripcion_dependencia" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_dependencia}">
		{$label comisionamiento descripcion_dependencia }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_dependencia}
	</div>
	<div class="r-search-field">
		{$descripcion_dependencia_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_dependencia_editcontrol1}
	</div>
	
</div>

{END descripcion_dependencia_fieldblock}
											
{BEGIN descripcion_tipo_vinculacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_tipo_vinculacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_tipo_vinculacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="descripcion_tipo_vinculacion" data-fieldname="descripcion_tipo_vinculacion" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_tipo_vinculacion}">
		{$label comisionamiento descripcion_tipo_vinculacion }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_tipo_vinculacion}
	</div>
	<div class="r-search-field">
		{$descripcion_tipo_vinculacion_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_tipo_vinculacion_editcontrol1}
	</div>
	
</div>

{END descripcion_tipo_vinculacion_fieldblock}
											
{BEGIN solicitado_por_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_solicitado_por}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="solicitado_por{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="solicitado_por" data-fieldname="solicitado_por" >


	<label class="r-search-label control-label" for="{$labelfor_solicitado_por}">
		{$label comisionamiento solicitado_por }	</label>
	<div class="r-search-option">
		{$searchtype_solicitado_por}
	</div>
	<div class="r-search-field">
		{$solicitado_por_editcontrol}	</div>
	<div class="r-search-field">
		{$solicitado_por_editcontrol1}
	</div>
	
</div>

{END solicitado_por_fieldblock}
											
{BEGIN fecha_solicitud_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_solicitud}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_solicitud{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="fecha_solicitud" data-fieldname="fecha_solicitud" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_solicitud}">
		{$label comisionamiento fecha_solicitud }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_solicitud}
	</div>
	<div class="r-search-field">
		{$fecha_solicitud_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_solicitud_editcontrol1}
	</div>
	
</div>

{END fecha_solicitud_fieldblock}
											
{BEGIN email_jefe_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_jefe_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_jefe_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="email_jefe_id" data-fieldname="email_jefe_id" >


	<label class="r-search-label control-label" for="{$labelfor_email_jefe_id}">
		{$label comisionamiento email_jefe_id }	</label>
	<div class="r-search-option">
		{$searchtype_email_jefe_id}
	</div>
	<div class="r-search-field">
		{$email_jefe_id_editcontrol}	</div>
	<div class="r-search-field">
		{$email_jefe_id_editcontrol1}
	</div>
	
</div>

{END email_jefe_id_fieldblock}
											
{BEGIN resultado_decision_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_resultado_decision}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="resultado_decision{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="resultado_decision" data-fieldname="resultado_decision" >


	<label class="r-search-label control-label" for="{$labelfor_resultado_decision}">
		{$label comisionamiento resultado_decision }	</label>
	<div class="r-search-option">
		{$searchtype_resultado_decision}
	</div>
	<div class="r-search-field">
		{$resultado_decision_editcontrol}	</div>
	<div class="r-search-field">
		{$resultado_decision_editcontrol1}
	</div>
	
</div>

{END resultado_decision_fieldblock}
											
{BEGIN horas_compensar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_horas_compensar}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="horas_compensar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="horas_compensar" data-fieldname="horas_compensar" >


	<label class="r-search-label control-label" for="{$labelfor_horas_compensar}">
		{$label comisionamiento horas_compensar }	</label>
	<div class="r-search-option">
		{$searchtype_horas_compensar}
	</div>
	<div class="r-search-field">
		{$horas_compensar_editcontrol}	</div>
	<div class="r-search-field">
		{$horas_compensar_editcontrol1}
	</div>
	
</div>

{END horas_compensar_fieldblock}
											
{BEGIN nombre_completo_edit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_completo_edit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_completo_edit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nombre_completo_edit" data-fieldname="nombre_completo_edit" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_completo_edit}">
		{$label comisionamiento nombre_completo_edit }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_completo_edit}
	</div>
	<div class="r-search-field">
		{$nombre_completo_edit_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_completo_edit_editcontrol1}
	</div>
	
</div>

{END nombre_completo_edit_fieldblock}
											
{BEGIN descripcion_dependencia_edit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_dependencia_edit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_dependencia_edit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="descripcion_dependencia_edit" data-fieldname="descripcion_dependencia_edit" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_dependencia_edit}">
		{$label comisionamiento descripcion_dependencia_edit }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_dependencia_edit}
	</div>
	<div class="r-search-field">
		{$descripcion_dependencia_edit_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_dependencia_edit_editcontrol1}
	</div>
	
</div>

{END descripcion_dependencia_edit_fieldblock}
											
{BEGIN rrhh_resultado_decision_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rrhh_resultado_decision}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rrhh_resultado_decision{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="rrhh_resultado_decision" data-fieldname="rrhh_resultado_decision" >


	<label class="r-search-label control-label" for="{$labelfor_rrhh_resultado_decision}">
		{$label comisionamiento rrhh_resultado_decision }	</label>
	<div class="r-search-option">
		{$searchtype_rrhh_resultado_decision}
	</div>
	<div class="r-search-field">
		{$rrhh_resultado_decision_editcontrol}	</div>
	<div class="r-search-field">
		{$rrhh_resultado_decision_editcontrol1}
	</div>
	
</div>

{END rrhh_resultado_decision_fieldblock}
											
{BEGIN rrhh_motivo_rechazo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rrhh_motivo_rechazo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rrhh_motivo_rechazo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="rrhh_motivo_rechazo" data-fieldname="rrhh_motivo_rechazo" >


	<label class="r-search-label control-label" for="{$labelfor_rrhh_motivo_rechazo}">
		{$label comisionamiento rrhh_motivo_rechazo }	</label>
	<div class="r-search-option">
		{$searchtype_rrhh_motivo_rechazo}
	</div>
	<div class="r-search-field">
		{$rrhh_motivo_rechazo_editcontrol}	</div>
	<div class="r-search-field">
		{$rrhh_motivo_rechazo_editcontrol1}
	</div>
	
</div>

{END rrhh_motivo_rechazo_fieldblock}
											
{BEGIN antiguedad_laboral_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_antiguedad_laboral}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="antiguedad_laboral{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="antiguedad_laboral" data-fieldname="antiguedad_laboral" >


	<label class="r-search-label control-label" for="{$labelfor_antiguedad_laboral}">
		{$label comisionamiento antiguedad_laboral }	</label>
	<div class="r-search-option">
		{$searchtype_antiguedad_laboral}
	</div>
	<div class="r-search-field">
		{$antiguedad_laboral_editcontrol}	</div>
	<div class="r-search-field">
		{$antiguedad_laboral_editcontrol1}
	</div>
	
</div>

{END antiguedad_laboral_fieldblock}
											
{BEGIN car_descri_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_car_descri}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="car_descri{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="car_descri" data-fieldname="car_descri" >


	<label class="r-search-label control-label" for="{$labelfor_car_descri}">
		{$label comisionamiento car_descri }	</label>
	<div class="r-search-option">
		{$searchtype_car_descri}
	</div>
	<div class="r-search-field">
		{$car_descri_editcontrol}	</div>
	<div class="r-search-field">
		{$car_descri_editcontrol1}
	</div>
	
</div>

{END car_descri_fieldblock}
											
{BEGIN sed_descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sed_descripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sed_descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="sed_descripcion" data-fieldname="sed_descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_sed_descripcion}">
		{$label comisionamiento sed_descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_sed_descripcion}
	</div>
	<div class="r-search-field">
		{$sed_descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$sed_descripcion_editcontrol1}
	</div>
	
</div>

{END sed_descripcion_fieldblock}
											
{BEGIN cantidad_dias_permiso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad_dias_permiso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cantidad_dias_permiso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="cantidad_dias_permiso" data-fieldname="cantidad_dias_permiso" >


	<label class="r-search-label control-label" for="{$labelfor_cantidad_dias_permiso}">
		{$label comisionamiento cantidad_dias_permiso }	</label>
	<div class="r-search-option">
		{$searchtype_cantidad_dias_permiso}
	</div>
	<div class="r-search-field">
		{$cantidad_dias_permiso_editcontrol}	</div>
	<div class="r-search-field">
		{$cantidad_dias_permiso_editcontrol1}
	</div>
	
</div>

{END cantidad_dias_permiso_fieldblock}
											
{BEGIN cantidad_permisos_mes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad_permisos_mes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cantidad_permisos_mes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="cantidad_permisos_mes" data-fieldname="cantidad_permisos_mes" >


	<label class="r-search-label control-label" for="{$labelfor_cantidad_permisos_mes}">
		{$label comisionamiento cantidad_permisos_mes }	</label>
	<div class="r-search-option">
		{$searchtype_cantidad_permisos_mes}
	</div>
	<div class="r-search-field">
		{$cantidad_permisos_mes_editcontrol}	</div>
	<div class="r-search-field">
		{$cantidad_permisos_mes_editcontrol1}
	</div>
	
</div>

{END cantidad_permisos_mes_fieldblock}
											
{BEGIN fecha_decision_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_decision}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_decision{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="fecha_decision" data-fieldname="fecha_decision" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_decision}">
		{$label comisionamiento fecha_decision }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_decision}
	</div>
	<div class="r-search-field">
		{$fecha_decision_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_decision_editcontrol1}
	</div>
	
</div>

{END fecha_decision_fieldblock}
											
{BEGIN rrhh_fecha_decision_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rrhh_fecha_decision}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rrhh_fecha_decision{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="rrhh_fecha_decision" data-fieldname="rrhh_fecha_decision" >


	<label class="r-search-label control-label" for="{$labelfor_rrhh_fecha_decision}">
		{$label comisionamiento rrhh_fecha_decision }	</label>
	<div class="r-search-option">
		{$searchtype_rrhh_fecha_decision}
	</div>
	<div class="r-search-field">
		{$rrhh_fecha_decision_editcontrol}	</div>
	<div class="r-search-field">
		{$rrhh_fecha_decision_editcontrol1}
	</div>
	
</div>

{END rrhh_fecha_decision_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
